# **PyCity Schools Analysis**

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("PyCitySchools/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# **District Summary**

### School Count for Each School Name in DataFrame

In [7]:
# Calculate the total number of unique schools
school_count_all = school_data_complete['school_name'].value_counts()
school_count_all

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

### Total Unique Schools in DataFrame

In [8]:
school_count_unique = len(school_data_complete['school_name'].unique())
school_count_unique

15

### Total Number of Students

In [25]:
# Calculate the total number of students
student_count = len(school_data_complete['Student ID'].unique())
student_count

39170

### Total Budget

In [17]:
# Calculate the total budget
total_budget = sum(school_data_complete['budget'].unique())
total_budget

24649428

### Average Math Score in DataFrame

In [19]:
# Calculate the average (mean) math score
average_math_score = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])
average_math_score

78.98537145774827

### Average Reading Score in Dataframe

In [20]:
# Calculate the average (mean) reading score
average_reading_score = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])
average_reading_score

81.87784018381414

### Percentage of Students Who Passed Math

In [27]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["Student ID"]
passing_math_percentage = passing_math_count / float(student_count) * 100

passing_math_percentage

74.9808526933878

### Percentage of Students Who Passed Reading

In [29]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count =  school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["Student ID"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_reading_percentage

85.80546336482001

### Percentage of Students Who Passed Math & Reading

In [30]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["Student ID"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

overall_passing_rate

65.17232575950983

### Snapshot of District Key Metrics

In [39]:
district_summary = pd.DataFrame(
    {
        "Total Schools": [school_count_unique], 
        "Total Students": [student_count], 
        "Total Budget": [total_budget],
        "Average Math Score": [average_math_score], 
        "Average Reading Score": [average_reading_score],
        "% Passing Math": [passing_math_percentage],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [overall_passing_rate]
    }
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# **School Summary**

In [45]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### School Types

In [51]:
# Use the code provided to select all of the school types
school_types = school_data.sort_values(by="school_name").type
school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

### Number of Students Per School

In [48]:
# School names
school_names = school_data_complete.school_name.sort_values().unique()
school_names

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)